body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0f172a, #0b2744, #062b59);
  color: white;
}

.main {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.left-panel {
  width: 65%;
}

.date {
  font-size: 18px;
  padding: 12px 20px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 15px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-box input {
  flex: 1;
  padding: 14px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
}

.search-box button {
  padding: 14px 25px;
  border: none;
  border-radius: 25px;
  background: #00c8ff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.section-title {
  margin: 15px 0;
  font-weight: bold;
}

.overview-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}

.right-panel {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.weather-big {
  padding: 40px;
  font-size: 22px;
}

.sun-time {
  margin-top: 12px;
  font-size: 16px;
}
